:root {
  --background-body: hsl(0, 3%, 13%);
  /* --background: #161f27; */
  /* --background-alt: #1a242f; */
  /* --selection: #1c76c5; */
  --text-bright: hsl(0, 0%, 100%);
  --text-main: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 75%);
  /* --links: hsl(0, 100%, 75%); */
  --focus: hsla(0, 100%, 35%, 0.7);
  --border: hsl(0, 0%, 40%);
  /* --code: #ffbe85; */
  --animation-duration: 0.1s;
  --button-base: hsl(0, 0%, 20%);
  --button-hover: hsl(0, 0%, 25%);
  --button-selected: hsl(0, 80%, 40%); /* my addition */
  /* --scrollbar-thumb: var(--button-hover); */
  /* --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(-30%)); */
  /* --form-placeholder: #a9a9a9; */
  /* --form-text: #fff; */
  /* --variable: #d941e2; */
  /* --highlight: hsl(53, 84%, 60%); */
  /* --select-arrow: svg-load('./assets/select-arrow.svg', fill: #efefef); */

  --poster-height: 90px;
  --tier-col-width: 90px;
}

@media (width < 700px) and (width > 500px) {
    :root {
        --tier-col-width: 50px;
    }
}

@media (width <= 500px) {
    :root {
        --tier-col-width: 20px;
    }
}

/* button set */
.button-set button {
    margin: 0;
    border-radius: 0;
}

button {
    border: 1px solid color-mix(in srgb, var(--border) 40%, transparent)
}

.button-set :first-child {
    border-radius: 100px 0 0 100px;
}

.button-set :last-child {
    border-radius: 0 100px 100px 0;
}

.button-set button.selected {
    background-color: var(--button-selected);
}

button.button-rounded {
    border-radius: 100px;
    margin: 0;
}

.flex-button-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.flex-button-container-1>* {
    flex-shrink: 0;
}

/* 
@media (width <= 600px) {
    .flex-button-container-1 {
        flex-direction: column;
    }
} */

.fredoka-fnt {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

/* tierlist table */

table#tierlist {
    min-width: 100%;
}

td {
    border: 1px solid black;
    background-color: hsl(0, 0%, 10%);
}

table#tierlist .col-1 {
    min-width: var(--tier-col-width);
    min-height: 90px;
    width: var(--tier-col-width);
    height: 90px;
    text-align: center;
    font-size: 20px;
    color: #333333;
    padding: 10px 0;
}

table#tierlist .tier-label {
    position: sticky;
    top: 10px;
}

#title {
    text-align: center;
}


/* card variants */

.poster-card {
    display: inline-block;
    margin: 3px;
    /* box-shadow: 0 0 4px 2px rgb(93, 93, 93); */
}

.poster-card img {
    height: var(--poster-height);
    transition: transform 0.2s ease;
    border: 1px solid rgba(90,90,90,0.5);
}

.poster-card img:hover {
    transform: scale(1.1);
}

.name-card a {
    color: var(--text-main);
}

.name-w-poster-card {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.name-w-poster-card a {
    color: var(--text-main);
    font-size: 1.5rem;
}

.name-w-poster-card img {
    height: var(--poster-height);
    min-width: auto;
    border: 1px solid rgba(90,90,90,1);
    transition: transform 0.2s ease;
}

.name-w-poster-card .details {
    color: var(--text-muted);
}

.name-w-poster-card .comment {
    font-size: 0.8rem;
    color: var(--text-muted);
}

.name-w-poster-card:has(a:hover) img {
    transform: scale(1.08);
}

/* star */
.fa-star {
    color: rgb(255, 200, 20);
}
